
/*优惠券列表*/
.cup_list_n li{
    width: 15.6rem;
    height: 5.3rem;
    background: url("/static/images/yh_bg.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    margin: auto;
    margin-top: 0.5rem;
    position: relative;
}
.cup_list_no li{  
    width: 15.6rem;
    height: 5.3rem;
    background: url("/static/images/yh_bg.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    margin: auto;
    margin-top: 0.5rem;
    position: relative;
}
.commom .new_left{
    width: 6.5rem;
    height: 5.3rem;
    float: left;
}
.commom .new_left span{
    display: block;
    width: 100%;
}
.commom .new_left .new_left_top{
    color: #9DAD6C;
    font-size: 1.5rem;
    text-align:center ;
    padding-top: 1rem;
}
.commom .new_left .new_left_bot{
    color: #9DAD6C;
    font-size: 0.58rem;
    text-align:center ;
    line-height: 2rem;
}
.commom .new_right{
    width: 9.1rem;
    height: 5.3rem;
    float: right;
}
.commom .new_right .new_right_top{
    display: block;
    color: #fff;
    font-size: 0.64rem;
    padding: 1rem 0rem 0rem 0.6rem;
}
.commom .new_right .new_right_mid{
    display: block;
    color: #fff;
    font-size: 0.53rem;
    padding: 0.8rem 0rem 0rem 0.6rem;
}
.commom .new_right .new_right_bot{
    display: block;
    color: #fff;
    font-size: 0.53rem;
    padding: 0.8rem 0rem 0rem 0.6rem;
}
.cup_list_n li img{
    width: 1rem;
    position: absolute;
    right: 1rem;
    bottom: 2rem;  
}
.coupon_id{
    display: none;
}
.coupon_money{
    display: none;
}