body,html{
    background: #f3f4f5;
}
.header{
    width:100%;
    height: 2.3rem;
    background: url("/static/images/tit_bg.png");
    background-size: 100% 100%;
}
.header p{
    width: 100%!important;
    text-align: center!important;
    line-height: 2.3rem!important;
    font-size: 0.8rem;
    color: #fff;
}
.header a:first-child{
    position: absolute!important;
    top: 0!important;
    left: 0.5rem!important;
    width: 1rem;
    height: 1rem;
    margin-top: 0.6rem;
}
.header a:last-child{
    position: absolute!important;
    top: 0!important;
    right: 0.5rem!important;
    width: 1rem;
    height: 1rem;
    margin-top: 0.6rem;
}
.header  b{
    margin: 0!important;
}
.header b img{
    width: 0.8rem!important;
    height: 0.8rem!important;
}
#submit_btn{
    color: #fff;
    font-size: 0.75rem;
}
/*内容*/
.content{
    font-size: 0.55rem;
    padding: 0.5rem;
    background: white;
    color: #999999;
    line-height: 1rem;
}
.content p{
    font-weight: bold;
    font-size: 0.55rem;
    color: #999999;
    margin-top:0.5rem;  
}
